<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lodz.android.conjurer">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity
            android:name=".ocr.CaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name=".ocr.OcrCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>


    </application>

</manifest>